<p id="notice"><%= notice %></p>

<div class="row px-4 ml-3 mr-3" id="home">
  <div class=" col-lg-9 col-mg-8 col-sm-12 com-xs-12 text-white text-left font-weight-normal">
    <br>
    <% if @merchandise.desc.present? %>
      <p> Reward Description </p>
      <%= simple_format @merchandise.desc.gsub(/\n/, '<br>') %>
    <% end %>

    <p> Attached Files: </p>
    <% if @merchandise.graphic.present?%>
      <%= @merchandise.graphic_url.split("/")[5]%>
    <% end %>
    <% if @merchandise.audio.present?%>
      <%= @merchandise.audio_url.split("/")[5]%>
    <% end %>
    <% if @merchandise.video.present?%>
      <%= @merchandise.video_url.split("/")[5]%>
    <% end %>
    <% if @merchandise.merchpdf.present?%>
      <%= @merchandise.merchpdf_url.split("/")[5]%>
    <% end %>
    <% if @merchandise.merchepub.present?%>
      <%= @merchandise.merchepub_url.split("/")[5]%>
    <% end %>
    <% if @merchandise.merchmobi.present?%>
      <%= @merchandise.merchmobi_url.split("/")[5]%>
    <% end %>
    <% if @merchandise.itempic.present?%>
      <%= @merchandise.itempic_url.split("/")[5]%>
    <% end %>
    <br> <br>
  </div>
</div>

<div class="row px-4 pt-3" id="youtube-row">
  <div class="col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
    <% if @merchandise.graphic.present?%>
        <%= image_tag @merchandise.graphic_url, height: "400", width: "800" %>
      <% end %>
  </div>
</div>

<div class="row px-4 pt-3" id="youtube-row">
  <div class="col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
    <% if @merchandise.youtube? %>
      <% if @merchandise.youtube.match(/[0-9A-Za-z]/) && @merchandise.youtube.length < 20 %>
        <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @merchandise.youtube %>" frameborder="0" allowfullscreen></iframe>
      <% end %>
    <% end %>
  </div>
</div>