<% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>
  
  <!-- Meta Tags for Facebook -->
  <% content_for :head do %>
    <meta property="og:url"           content="<%= "https://www.thinq.tv" + event_path(@event) %>" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="<%= @event.name %>" />
    <meta property="og:description"   content="<%= @event.desc %>" />
    <meta property="og:image"         content="<%= @user.profilepic.url.to_s %>" />
  <% end %>
  
  <div class="container">

    <!-- TOP HALF -->
    <div class="row">
      <!-- CONVERSATION NAME & HOST -->
      <div class="col-lg-12" style="text-align: center;">
        <h1> Come Join the <%= @event.topic.upcase %> </h1>
          <h3>
            <strong>
              <%= @event.name %>
            </strong>
          </h3 style="margin-bottom: 0px !important;">
          <h3>
            <small>
              Hosted by <%= link_to @user.name, user_profile_path(@user.permalink) %>
            </small>
          </h3 style="margin-bottom: 0px !important;">
      </div>
    </div>

    <!-- MIDDLE -->
    <div class="row" style="background-color: #8C1D40;"> 
      <!-- PROFILE IMAGE -->
      <% if @user.profilepic.present? && @user.profilepic != '' %>
        <div class="col-md-4" style="display: flex; align-content: center; justify-content: center;">
          <%= image_tag @user.profilepic.url.to_s, height: "225", width: "225"%>
        </div>
      <% end %>

      <div class="row" style="color:#fff;" >
          <!-- CONVERSATION STARTTIME -->
          <div class="col-md-4">
            <div style = "margin-left: 5px">
              <% edt = @event.start_at + 3.hours %>
              <%= @event.start_at.strftime("%A, %B %d") %> <br>
              <%= @event.start_at.strftime("%I:%M %p")%> PDT / <%= edt.strftime("%I:%M %p") %> EDT
              <br> <%= @duration %> minutes <br>
            </div>
          </div>

          <div class="col-md-4">
            <% if @event.desc.present? %>
               <%= @event.desc.gsub(/\n/, '<br>').html_safe %> <br>
            <% end %>
          </div>

         
          <div class="col-md-4">
            <div style = "margin-left: 5px">
              <% edt = @event.start_at + 3.hours %>
              <%= @event.start_at.strftime("%A, %B %d") %> <br>
              <%= @event.start_at.strftime("%I:%M %p")%> PDT / <%= edt.strftime("%I:%M %p") %> EDT
              <br> <%= @duration %> minutes <br>
            </div>
          </div>
        
          <div class="col-md-4">
            <% if @event.desc.present? %>
              <%= @event.desc.gsub(/\n/, '<br>').html_safe %> <br>
            <% end %>
          </div>
      </div>
    </div>

    <!-- BOTTOM HALF -->
    <div class="row" style="padding: 20px 0px !important;">

      <! Left Column -->
      <div class="col-md-8">
        <div style="margin-left: -15px;"> To Join the <%= @event.topic %>: </div>
        <! Left Column -->
        <div class="col-md-12">
          <div> <strong>Desktop:</strong> </div>
          <div> 
            Go to <%= link_to "ThinQ.tv", root_path %> and
            click <%= link_to " Join " +  @event.topic , user_viewer_path(@user.permalink, chatrm: "Activism Hall" ), :class => "btn btn-sm btn-default fa fa-video-camera", :style => "border-color: FFB704 !important ;"%>
          </div>
          <div> <strong>Mobile: </strong> </div>
          <div> Download the JITSI meet app and join the <%= @event.topic.upcase %> chatroom</div>
        </div>
      </div>

       <! Right Column -->
        <div class="col-md-4">
          <div style="text-align: center;"> 
            <strong> Invite your fellow activists </strong>
          </div>
          <div class="row" style="display: flex; justify-content: center;">
            <div class="col-md-2">
              <%= link_to "mailto:?&subject=Join%20me%20at%20ThinQ.tv!&body=Come%20join%20me%20for%20a%20live%20video%20Conversation%20"+ @event.name + "%20at%20" + @surl + "%20on%20" + 
              + @event.start_at.strftime("%A, %B %d") + "%20" + @event.start_at.strftime("%I:%M %p")+ "%20PDT%20/%20" + edt.strftime("%I:%M %p") + "%20EDT.%20The%20Conversation%20will%20be%20about%20" + @event.desc, 
              target: :_blank do %>
                <%= image_tag "email_icon.png", height: "25", width: "25"%>
              <% end %>
            </div>
            <div class="col-md-2">
             <%= link_to "https://www.linkedin.com/shareArticle?mini=true&url="+@surl, target: :_blank do %>
                <%= image_tag "linkedin_icon.png", height: "25", width: "25"%>
              <% end %>
            </div>
            <div class="col-md-2">
              <%= link_to "https://twitter.com/intent/tweet?text=Join " + @user.name + " for interesting conversation: " +
                 @event.name + " on " + @event.start_at.strftime("%B %d, %I:%M %p") + " PDT at " + @surl, target: :_blank do %>
                <%= image_tag "twitter_icon.png", height: "25", width: "25"%>
              <% end %>
            </div>
            <div class="col-md-2">
              <%= link_to "http://www.facebook.com/sharer.php?u=" + @surl, target: :_blank do %>
                <%= image_tag "facebook_icon.png", height: "25", width: "25"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    Outside the Bottom Half<br>
  </div>
</div>
